// -----------------------------------------------------------------------------
// This file contains styles that are specific to the blog.
// -----------------------------------------------------------------------------
.blog,
.archive {

  .hentry {
    position: relative;
    margin-bottom: $global-margin * 2;
    border: 1px solid #e0e0e0;
  }

  .entry-header {
    margin-bottom: 0;
    padding: $global-padding;
  }

  h2.entry-title {
    font-size: rem-calc(18);

    & > a {
      font-weight: 900;
      color: $header-color;

      @include on-event() {
        color: $anchor-color;
      }
    }
  }

  .entry-content,
  .entry-footer {
    @include clearfix();
    margin: $global-padding;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .entry-content {
    margin-top: 0;
    font-size: rem-calc(14);
    font-weight: 300;
  }

  .entry-footer {
    margin-top: rem-calc(15);
    padding-top: rem-calc(15);
    border-top: 1px solid #e0e0e0;
    font-size: rem-calc(12);
    color: #b3b3b3;

    a {
      color: #b3b3b3;

      @include on-event() {
        color: $anchor-color;
      }
    }
  }

  .entry-profile-pic {
    float: left;
    margin-bottom: 0;

    .avatar {
      width: 24px;
      height: 24px;
    }
  }
}
